

body {
  background-color: rgba(78, 205, 231, 0.961);
}

h1 {
  color: rgb(0, 11, 17); text-align: center; 
  margin-left: 20px;
}

h2 {
  color: rgb(1, 14, 21); text-align: left;
}

h3 {
  color: rgb(1, 13, 20); text-align: center;
  margin-left: 20px;
}


p {
  color: rgb(0, 11, 17);text-align: center;
  margin-left: 20px;
}

