

body {
  background-color: rgba(78, 205, 231, 0.961);
}

h1 {
  color: rgb(0, 11, 17); text-align: center; 
  margin-left: 20px;
}

h2 {
  color: rgb(1, 14, 21); text-align: left;
}

h3 {
  color: rgb(1, 13, 20); text-align: center;
  margin-left: 20px;
}


p {
  color: rgb(0, 11, 17);text-align: center;
  margin-left: 20px;
}

.menu {
  list-style-type: none; /* Geen bullets */
  margin: 0;
  padding: 0;
  display: flex; /* horizontale rij */
}

.menu li {
  margin-right: 20px; /* ruimte tussen items */
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  display: block;
  transition: background-color 0.3s;
}

.menu li a:hover {
  background-color: #555; /* lichte hover effect */
  border-radius: 4px;
}