

body {
  background-color: rgba(244, 247, 249, 0.961);
}

h1 {
  color: rgb(24, 148, 220); text-align: center; 
  margin-left: 20px;
}

h3 {
  color: rgb(24, 148, 220); text-align: center;
  margin-left: 20px;
}


p {
  color: rgb(24, 148, 220);text-align: center;
  margin-left: 20px;
}

